<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niit.mapper.BookMapper">

    <insert id="addCa" parameterType="category">
        insert into category values (#{id},#{category})
    </insert>

    <select id="getAdmin" parameterType="string" resultType="admin">
        select * from admin where adminname = #{adminname}
    </select>

    <select id="getAllCas" resultType="category">
        select  * from category
    </select>

    <insert id="addBook" parameterType="book">
        insert into book (bookname, caid, publish, author, picurl,number,deleteid) values (#{bookname},#{caid},#{publish},#{author},#{picurl},#{number},0)
    </insert>

    <select id="getCount" parameterType="book" resultType="int">
        select count(*) from book
        <where>
            <if test="bookname!=null and bookname!=''"> and bookname like '%${bookname}%'</if>

            <if test="caid!=null and caid!='' and caid!='-1'"> and caid = #{caid}</if>
            and deleteid = 0
        </where>
    </select>

    <select id="queryBook" parameterType="book" resultType="book">
        select a.*,b.* from
        book a left join category b on a.caid = b.id
        <where>
            <if test="bookname!=null"> and bookname like '%${bookname}%'</if>

            <if test="caid!=null and caid!='' and caid!='-1' "> and caid = #{caid}</if>
            and deleteid = 0
        </where>
    </select>

    <delete id="delete" parameterType="int">
       update book set deleteid = 1  where id = #{id}
    </delete>

    <update id="borrow" parameterType="int">
        update book set number = number-1 where id = #{id}
    </update>

    <update id="back" parameterType="int">
        update book set number = number+1 where id = #{bid}
    </update>

    <select id="getCount1" parameterType="book" resultType="int">
        select count(*) from book
        <where>
            <if test="bookname!=null and bookname!=''"> and bookname like '%${bookname}%'</if>

            <if test="caid!=null and caid!='' and caid!='-1'"> and caid = #{caid}</if>

        </where>
    </select>

    <select id="queryBook1" parameterType="book" resultType="book">
        select a.*,b.* from
        book a left join category b on a.caid = b.id
        <where>
            <if test="bookname!=null"> and bookname like '%${bookname}%'</if>

            <if test="caid!=null and caid!='' and caid!='-1' "> and caid = #{caid}</if>

        </where>
        order by deleteid
    </select>

</mapper>